doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel='icon', href='/favicon.png', sizes='16x16', type='image/png')
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='robots', content='index, follow')
  body
    #react
    script(type='text/javascript', src='/dist/bundle.min.js')
    script(src='//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js')
