doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= pageTitle
  body
    #react
    script(type='text/javascript', src='/dist/bundle.min.js')
    script(src='//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js')
